.green{
    border: 1px solid black;
    height: 100px;
    /* box-shadow: 10px 15px 10px yellow inset; */
    box-shadow: 10px 15px 10px yellow;
    background-color: blueviolet;
    color: aqua;
    opacity: 0.5;
}
.green:hover{
    background-color: aqua;
    color: rgb(255, 0, 0);
    opacity: 1;
}
.jash{
    width: 150px;
    height: 150px;
    filter: blur(1px);
    filter: brightness(200%);
}